*{
    margin: 0;
    padding: 0;

   }
   #navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}

    #logo{
    margin: 10px 16px;
}
#logo img{
    height: 79px;
    margin: -11px 2px;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', 'cursive';
    font-weight: bold;
    text-shadow: 2px 2px 8px #FF0000;

}
#navbar ul li{
    
    list-style: none;
    font-size:1.4rem;
}
#navbar ul li a{
    color: rgb(17 17 0);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;


}
#navbar ul li a:hover{
    color: rgb(68, 13, 157);
    background-color: azure;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    text-shadow: none;

}
#navbar::before{
    content: "";
    background-color:rgb(242, 171, 171);
    position: absolute;
    top: 0px;
    left: 0px;
    height:100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.9;

}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('BITBG.png') no-repeat center center/cover ;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;

}.h-primary{
    font: size 1.8rem;
    padding: 12px;
    text-align: center;

}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

#home h2{
    color: #ff3c3c;;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
    border: 2px solid black;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000ff;
    background-color: yellow;
}


.right{
        position: relative;
        right: 1px;
        top: 1px;
        display: inline-block;
    
    }

    .center{
        text-align: center;
    }
#aboutus{
    margin: 34px;
    display: flex;

}
#aboutus .box{
    border: 2px solid brown;

}
#aboutus .box img{
    height: 100px;

 }
 #contact{
    position: relative;
 }
 #contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact-us.jpg') no-repeat center center/cover;
 }
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}

address{
font-family: 'Baloo Bhai 2', cursive;
font-size: 20px;
}

/* #rightitem{
    position: absolute;
    right: -600px;
    top: 31px;
    flex-direction: row;
} */
